/* Genel Ayarlar */
*{
	margin:0px;
	padding:0px;
}

#sayfa{
	width:900px;
	min-height:600px;
	border:1px solid;
	margin:auto;
	position:relative;
	top:10px;
}

/* Banner */
#banner{
	width:900px;
	height:100px;
	background-color:grey;
	margin:auto;
}

#logo{
	width:80px;
	height:80px;
	position:relative;
	top:7px;
	left:10px;
	float:left;
}

#resim{
	border:orange 3px solid;
	border-radius:50px;
}

#sosyal-medya{
	width:280px;
	height:60px;
	border-radius:30px;
	border:3px dotted;
	background-color:orange;
	float:right;
	position:relative;
	top:17px;
	right:10px;
}

#sosyal-ikon{
	float:right;
	margin:0 5px 0 5px;
}

/* Ana Menü */
#ana-menu{
	width:900px;
	height:50px;
	background-color:crimson;
	margin:auto;
}

#ana-menu ul{
	list-style-type:none;
}

#ana-menu ul li{
	width:100px;
	border-radius:5px 100px 10px 5px;
	border:orange 3px solid;
	background-color:gainsboro;
	display:inline-block;
	margin-left:25px;
	padding:5px;
	text-align:center;
	position:relative;
	top:8px;
	transition: 0.5s;
}

#ana-menu ul a{
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color:orange;
}

#ana-menu ul a:active{
	color:crimson;
}

#ana-menu li:hover{
	background-color:tomato;
}

/* İçerik ve Yanmenü */
#icerik{
	width:600px;
	height:400px;
	background-color:gainsboro;
	float:left;
}

#yan-menu{
	width:300px;
	height:400px;
	background-color:teal;
	float:right;
	color:white;
}

.resim{
	float:left;
	width:300px;
	height:100px;
	margin:10px 5px 5px 5px;
}

.metin{
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color:teal;
	margin-left:5px;
	text-indent:12px;
	margin-top:5px;
	letter-spacing:2px;
	word-spacing:5px;
}

.baslik{
	font-family:Georgia;
	font-size:32px;
	color:red;
	font-weight:bold;
}

hr{
	width:100px;
	height:3px;
	background-color:red;
	border:none;
	position:relative;
	top:2px;
	left:65px;
}

#yan-menu .baslik{
	margin:5px;
}

#yan-menu p{
	margin:5px;
}

/* Alt Menu */
#alt-menu{
	width:900px;
	height:50px;
	background-color:goldenrod;
	float:right;
	color:white;
	text-align:center;
	color:black;
	line-height:25px;
}

#alt-menu a{
	font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	color:black;
	text-decoration:none;
	transition: 0.5s;
}

#alt-menu a:hover{
	color:silver;
	text-decoration:underline;
}

.mini-metin{
	font-size:12px;
}

/* Ben Kimim */
.text{
	color:gold;
	font-size:20px;
	font-family:Copperplate;
	background-color:darkslategray;
	width:500px;
	height:80px;
	position:relative;
	top:25%;
	left:50%;
	transform:translate(-50%,-55%);
	padding:55px 0 0 10px;
	border-radius:75px 25px 75px 25px;
	z-index:0;
	letter-spacing:0.5px;
	word-spacing:0.5px;
}

#ben-kimim-profil{
	position:relative;
	display:flex;
	transform:translate(-50%,-22%);
	border: gold 3px solid;
	border-radius:50%;
	z-index:1;
	top:25%;
    left:50%;
}

/* Galeri */
.galeri-img{
	width:100%;
	height:100%;
	cursor: zoom-in;
}

.galeri{
  margin:5px;
  border:2px solid gold;
  float:left;
  width:180px;
  height:180px;
  background-color:darkslategray;
  color:gold;
  position:relative;
  top:25%;
  transform:translate(5%,-5%);
  transition: .3s ease-in-out;
  overflow: hidden;
  border-radius:100%;
}

.galeri:hover{
	border-color:orangered;
}

.galeri img{
  width:100%;
  height:100%;
  transition: .3s ease-in-out;
  transform: scale(1);
}

.galeri img:hover{
	transform: scale(1.3);
}

/* İletişim */
.iletisim {
  border:none;
  color:white;
  background-color:darkslategray;
  padding:20px;
  position:relative;
  width:70%;
  height:90%;
  transform:translate(15%);
}

label{
	border-left:4px solid orange;
	padding-left:5px;
}

input[type=text]{
  width:100%;
  padding:12px 20px;
  margin:8px 0;
  display:inline-block;
  border:3px solid orange;
  border-radius:3px;
  box-sizing:border-box;
  transition: 0.5s;
  outline: none;
}

input[type=email]{
  width:100%;
  padding:12px 20px;
  margin:8px 0;
  display:inline-block;
  border:3px solid orange;
  border-radius:3px;
  box-sizing:border-box;
  transition: 0.5s;
  outline: none;
}

textarea[type=text]{
  width:100%;
  padding:12px 20px;
  margin:8px 0;
  display:inline-block;
  border:3px solid orange;
  border-radius:3px;
  box-sizing:border-box;
  resize:none;
  transition: 0.5s;
  outline: none;
}

.iletisim textarea{
	height:120px;
}

input[type=submit]{
  width:100%;
  background-color:orange;
  color:white;
  padding:14px 20px;
  margin:8px 0;
  border:none;
  border-radius:3px;
  cursor:pointer;
  font-family:Verdana;
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:2px;
  transition: 0.5s;
}

input:focus{
	border:3px solid orangered;
	color:orangered;
}

input[type=text]:focus {
  border:3px solid orangered;
}

input[type=email]:focus {
  border:3px solid orangered;
}

textarea[type=text]:focus {
  border:3px solid orangered;
  color:orangered;
}

input[type=submit]:hover {
  background-color:orangered;
}